
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка 404</title>
</head>
<body>
<div>
    <h1 align="center">Ошибка 404. Запрашеваемая Вами страница не найдена!</h1>
</div>
</body>
</html>
