body {
}
/*------------------------------------------Главная страница--------------------------------------------*/
.mainBackground {
    background-image: url(../img/Main/fon1.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-menu {
    height: 80px;
    width: 150px;
    background-image: url(../img/button_menu.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
 .myul {
    list-style: none; 
    margin: 0; 
    padding-left: 0;
}

.mya {
    text-decoration: none;
}

.myli {
    float: right;
    height: 90px;
}
/*------------------------------------------Главная страница--------------------------------------------*/